name: 02 - Deploy App to AKS

on:
  workflow_dispatch:
  push:
    paths:
      - "deployment.yaml"
      - "service.yaml"
      - "ingress.yaml"
      - "hpa.yaml"
      - ".github/workflows/app.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        uses: azure/aks-set-context@v4
        with:
          resource-group: ${{ secrets.AKS_RG }}
          cluster-name: ${{ secrets.AKS_NAME }}

      - name: Deploy Kubernetes Manifests
        run: |
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml
          kubectl apply -f ingress.yaml
          kubectl apply -f hpa.yaml

      - name: Verify
        run: |
          kubectl get pods -A
          kubectl get svc -A
          kubectl get ingress -A
